{% extends "base.html" %}

{% block title %}
    View User
{% endblock %}

{% block content %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <div class="container">
        <h1>User Information: {{ user[1] }}</h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="personal-info-tab" data-toggle="tab" href="#personal-info" role="tab" aria-controls="personal-info" aria-selected="true">Personal Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="bids-tab" data-toggle="tab" href="#bids" role="tab" aria-controls="bids" aria-selected="true">Bids</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="deposits-tab" data-toggle="tab" href="#deposits" role="tab" aria-controls="deposits" aria-selected="false">Deposits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="withdraws-tab" data-toggle="tab" href="#withdraws" role="tab" aria-controls="withdraws" aria-selected="false">Withdraw Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="items-tab" data-toggle="tab" href="#items" role="tab" aria-controls="items" aria-selected="false">Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="transactions-tab" data-toggle="tab" href="#transactions" role="tab" aria-controls="transactions" aria-selected="true">Transactions</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="personal-info" role="tabpanel" aria-labelledby="personal-info-tab">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">User ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ user[0] }}</td>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <!-- Add more data as needed -->
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="bids" role="tabpanel" aria-labelledby="bids-tab">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">User ID</th>
                            <th scope="col">Item ID</th>
                            <th scope="col">Bid Amount</th>
                            <th scope="col">Bid Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bid in bids %}
                            <tr>
                                <td>{{ bid[0] }}</td>
                                <td>{{ bid[1] }}</td>
                                <td>{{ bid[2] }}</td>
                                <td>{{ bid[3].strftime("%Y-%m-%d %H:%M:%S") }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="deposits" role="tabpanel" aria-labelledby="deposits-tab">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Deposit ID</th>
                            <th scope="col">Deposit Amount</th>
                            <th scope="col">Deposit Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for deposit in deposits %}
                            <tr>
                                <td>{{ deposit[0] }}</td>
                                <td>{{ deposit[1] }}</td>
                                <td>{{ deposit[2].strftime("%Y-%m-%d %H:%M:%S") }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="withdraws" role="tabpanel" aria-labelledby="withdraws-tab">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Withdraw Request ID</th>
                            <th scope="col">Withdraw Amount</th>
                            <th scope="col">Withdraw Date</th>
                            <th scope="col">Request State</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in withdraw_requests %}
                            <tr>
                                <td>{{ request[0] }}</td>
                                <td>{{ request[1] }}</td>
                                <td>{{ request[2] }}</td>
                                <td>{{ request[3] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="items-tab">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Item ID</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Item Description</th>
                        <!-- Add more columns as needed -->
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item[0] }}</td>
                            <td>{{ item[1] }}</td>
                            <td>{{ item[2] }}</td>
                            <!-- Add more data as needed -->
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Item id</th>
                        <th scope="col">Buyer Id</th>
                        <th scope="col">Date</th>
                        <!-- Add more columns as needed -->
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction[0] }}</td>
                            <td>{{ transaction[1] }}</td>
                            <td>{{ transaction[2] }}</td>
                            <!-- Add more data as needed -->
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}