{% extends "base.html" %}

{% block title %}
    Transactions
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Transactions</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item ID</th>
                    <th scope="col">Buyer ID</th>
                    <th scope="col">Transaction Date</th>
                    <th scope="col">Item</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction[0] }}</td>
                        <td>{{ transaction[1] }}</td>
                        <td>{{ transaction[2] }}</td>
                        <td>
                            <a href="{{ url_for('item_handlers.get_item', item_id=transaction[0]) }}" class="btn btn-primary">View Item</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}