<!-- view_users.html -->
{% extends "base.html" %}
{% block title %}View Users{% endblock %}
{% block content %}
    <style>
    .pagination {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .pagination a {
        color: black;
        text-decoration: none;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        padding: 5px 10px;
        border-radius: 5px;
        margin: 5px 2px;
    }
    .pagination a:hover {
        background-color: #e9ecef;
    }
    .pagination a.active {
        background-color: #007bff;
        color: white;
        border-color: #007bff;
    }
    </style>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">All Users</h2>

            <ul class="list-group">
                {% for user in users %}
                    <li class="list-group-item">
                        <h3>{{ user[1] }}</h3>
                        <p>Mail: {{ user[2] }}</p>
                        <button class="btn btn-primary" onclick="redirectToUser('{{ user[0] }}')">View Profile</button>
                        <button class="btn btn-danger" onclick="banUser({{ user[0] }})">Ban User</button>
                    </li>
                {% endfor %}
            </ul>


            <div class="pagination">
                {% for page_num in range(1, total_pages) %}
                    {% if page_num == current_page %}
                        <a class="active" href="#">{{ page_num }}</a>
                    {% else %}
                        <a href="{{ url_for('admin_handlers.view_users', page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
    <script>
        function redirectToUser(user_id) {
            window.location.href = "/admin/view_user/" + user_id ;
        }
        function banUser(userId) {
            var confirmation = confirm("Are you sure you want to ban this user?");
            if (confirmation) {
                window.location.href = "/admin/ban_user/" + userId;
            }
        }
    </script>
{% endblock %}
