{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">All Items</h2>

            <div class="mb-3">
                <form action="{{ url_for('home.search', searchitem=query) }}" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." name="query">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </form>
            </div>


            <ul class="list-group">
                {% for item in items %}
                    <li class="list-group-item">
                        <h3>{{ item[2] }}</h3>
                        <p>Description: {{ item[3] }}</p>
                        <p>Price: ${{ item[5] }}</p>
                        <button class="btn btn-primary" onclick="redirectToItem({{ item[0] }})">View Item</button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        function redirectToItem(itemId) {
            window.location.href = "/items/" + itemId;
        }
    </script>
{% endblock %}
