<!-- templates/item.html -->
{% extends "base.html" %}
{% block title %}{{ BarterSwap }}{% endblock %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center mb-4">{{ item[2] }}</h2>
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">{{ item[2] }}</h5>
                        <img src="{{ url_for('static', filename='images/' + (item[7] if item[7] else 'default.png')) }}" alt="Image">
                        <p class="card-text">{{ item[3] }}</p>
                        <p class="card-text">Starting Price: ${{ item[5] }}</p>
                        <p class="card-text">Highest Bid: ${{ item[6] }}</p>
                        <p class="card-text">Last Bids</p>
                        <ul class="list-group">
                            {% for bid in bids %}
                                <li class="list-group-item">

                                    <p>User: {{ bid[4]}}</p>
                                    <p>Price: ${{ bid[3] }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                        <form action="{{ url_for('bid_handlers.add_bid', item_id=item[0]) }}" method="post">
                            <div class="form-group">
                                <label for="bid_amount">Your Bid:</label>
                                <input type="number" class="form-control" id="bid_amount" name="bid_amount" min="{{ item[6] + 1 }}" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Place Bid</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}