{% extends "base.html" %}
{% block title %}Chat{% endblock %}
{% block content %}
    <style>
        .message-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
        flex-wrap: wrap;
    }
    .message {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: #f8f8f8;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 35%;
        height: auto;
        word-wrap: break-word;
        white-space: normal;
        overflow: visible;
    }
        .sender {
            font-weight: bold;
            color: #333;
        }
        .content {
            margin-left: 10px;
            color: #666;
            word-wrap: break-word;
            white-space: normal;
            overflow-wrap: break-word;
            word-break: break-all;
        }
        .timestamp {
            font-size: 0.8em;
            color: #999;
            align-self: flex-end;
        }
        .message.user {
            justify-content: flex-end;
            margin-left: 50%;
        }
        .message.other {
            justify-content: flex-end;
        }
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
        textarea {
            width: 100%;
            height: 100px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 16px;
        }
        input[type="submit"] {
            margin-left: 10px;
            padding: 10px 20px;
            border: none;
            background-color: #007BFF;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }


    </style>
    <div class="message-container">
        <h1>{{ username }}</h1>
        {% for message in messages %}
            <div class="message {{ 'user' if message[1] == session["user_id"] else 'other' }}">
                <span class="content">{{ message[3] }}</span>
                <span class="timestamp" id="timestamp-{{ loop.index }}">{{ message[4].strftime('%Y-%m-%dT%H:%M:%SZ') }}</span>
            </div>
        {% endfor %}
        <form method="POST">
            <textarea name="message" required></textarea>
            <input type="submit" value="Send Message">
        </form>
    </div>
    {% include 'flashmessages.html' %}
    {% block scripts %}
    <script>
        window.onload = function() {
            var timestamps = document.querySelectorAll('.timestamp');
            timestamps.forEach(function(timestamp) {
                var utcDate = new Date(timestamp.textContent);
                timestamp.textContent = utcDate.toLocaleString();
            });
        };
    </script>
{% endblock %}
{% endblock %}